body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-abhaya-libre: "Abhaya Libre";

  /* font sizes */
  --font-size-6xl: 1.56rem;
  --font-size-21xl: 2.5rem;

  /* Colors */
  --color-white: #fff;
  --color-olivedrab: #6fb445;
  --color-black: #000;
  --color-dimgray: #707070;

  /* Border radiuses */
  --br-3xl: 22px;
}
