a, a:visited, a:hover, a:active {
  color: inherit;
  border: inherit;
  
}
.web-1920-7-child {
  position: absolute;
  top: 15.31rem;
  left: 0;
  background-color: #b6e5d5;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 120rem;
  height: 86.25rem;
}
.web-1920-7-item {
  position: absolute;
  top: 20.81rem;
  left: 61.81rem;
  background-color: #ffdbdb;
  width: 55rem;
  height: 75.5rem;
}
.web-1920-7-inner {
  position: absolute;
  top: 60.13rem;
  left: 64.25rem;
  background-color: #adadad;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 50.5rem;
  height: 28.63rem;
}
.group-child {
  position: absolute;
  top: 9.86rem;
  left: 0;
  background-color: #929292;
  width: 120rem;
  height: 4.81rem;
}
.phoenix {
  position: absolute;
  top: 0;
  left: 17.38rem;
  font-size: 4.69rem;
  letter-spacing: 0.35em;
  color: var(--color-olivedrab);
}
.pia-logo-2022-1 {
  position: absolute;
  top: 1.24rem;
  left: 1.88rem;
  width: 14.38rem;
  height: 8rem;
  object-fit: cover;
}
.about-phoenix,
.academics,
.home,
.life-at-phoenix {
  position: absolute;
  top: 10.86rem;
  left: 39.88rem;
  cursor: pointer;
}
.about-phoenix,
.academics,
.life-at-phoenix {
  left: 46.19rem;
}
.academics,
.life-at-phoenix {
  left: 60.31rem;
}
.life-at-phoenix {
  left: 84.81rem;
}
.beyond-books {
  left: 70.94rem;
  cursor: pointer;
}
.beyond-books,
.contact-us,
.gallery {
  position: absolute;
  top: 10.86rem;
}
.gallery {
  left: 99rem;
  cursor: pointer;
}
.contact-us {
  left: 107.44rem;
  color: var(--color-white);
}
.mysurus-leading-international-container {
  position: absolute;
  top: 7.81rem;
  left: 17.44rem;
  font-size: 1.19rem;
  letter-spacing: 0.05em;
  font-family: var(--font-abhaya-libre);
}
.international-academy {
  position: absolute;
  top: 4.92rem;
  left: 17.38rem;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.05em;
  color: var(--color-olivedrab);
}
.logomakr1-icon {
  position: absolute;
  top: 1.42rem;
  left: 93.44rem;
  border-radius: 31px;
  width: 3.88rem;
  height: 3.88rem;
  object-fit: cover;
}
.office-91-821-4257452-mobile-container {
  position: absolute;
  top: 1.3rem;
  left: 97.88rem;
  letter-spacing: 0.02em;
  line-height: 2.19rem;
  font-family: var(--font-abhaya-libre);
  color: #404040;
  display: inline-block;
  width: 19.13rem;
  height: 4.88rem;
}
.sapient-global-educational {
  position: absolute;
  top: 11.75rem;
  left: 3.31rem;
  font-size: 0.88rem;
  letter-spacing: 0.2em;
  color: #f9f9f9;
}
.group-item {
  position: absolute;
  top: 12.74rem;
  left: 107.25rem;
  border-top: 7px solid var(--color-olivedrab);
  box-sizing: border-box;
  width: 10rem;
  height: 0.44rem;
}
.connect-with-us,
.rectangle-parent {
  position: absolute;
  font-family: var(--font-inter);
}
.rectangle-parent {
  top: 0.64rem;
  left: 0;
  width: 120rem;
  height: 14.67rem;
  font-size: var(--font-size-6xl);
}
.connect-with-us {
  top: 24.69rem;
  left: 4.88rem;
}
.we-would-love {
  margin: 0;
}
.we-would-love-container {
  position: absolute;
  top: 28.75rem;
  left: 4.88rem;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.03em;
  line-height: 3.13rem;
  display: inline-block;
  width: 50.25rem;
  height: 9.94rem;
}
.send-your-request {
  position: absolute;
  top: 40.38rem;
  left: 4.88rem;
  font-family: var(--font-inter);
}
.line-div {
  position: absolute;
  top: -33.94rem;
  left: 761.94rem;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 41.75rem;
  height: 0.19rem;
}
.name-mobile-no-email-id-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 3.13rem;
  display: inline-block;
  width: 52.19rem;
  height: 50.38rem;
}
.group-child1,
.group-inner {
  position: absolute;
  top: 9rem;
  left: 14.5rem;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 36.69rem;
  height: 0.19rem;
}
.group-child1 {
  top: 14.75rem;
  left: 11.44rem;
  width: 39.75rem;
}
.line-icon {
  position: absolute;
  top: 21.03rem;
  left: 15.47rem;
  width: 35.63rem;
  height: 0.25rem;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5 {
  position: absolute;
  top: 27.63rem;
  left: 9.44rem;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 41.75rem;
  height: 0.19rem;
}
.group-child3,
.group-child4,
.group-child5 {
  top: 34.06rem;
  left: 11.44rem;
  width: 39.75rem;
}
.group-child4,
.group-child5 {
  top: 40.5rem;
  left: -0.06rem;
  width: 51.25rem;
}
.group-child5 {
  top: 46.94rem;
}
.name-mobile-no-email-id-parent {
  position: absolute;
  top: 45.69rem;
  left: 4.88rem;
  width: 52.19rem;
  height: 50.38rem;
  font-size: var(--font-size-16xl);
}
.reach-us {
  position: absolute;
  top: 24.69rem;
  left: 64.19rem;
  font-family: var(--font-inter);
}
.rectangle-div {
  position: absolute;
  top: 101.56rem;
  left: 0;
  background-color: #f26929;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 120rem;
  height: 35.63rem;
}
.connect,
.contact,
.quick-links {
  position: absolute;
  top: 104.31rem;
  left: 95rem;
  letter-spacing: 0.05em;
  line-height: 5rem;
}
.contact,
.quick-links {
  left: 64rem;
}
.quick-links {
  left: 38.31rem;
}
.about-phoenix-admissions-paren {
  position: absolute;
  top: 109.63rem;
  left: 37.75rem;
  font-size: 2.81rem;
  letter-spacing: 0.02em;
  line-height: 3.75rem;
  color: var(--color-white);
}
.email-centreheadmyphoenixaca {
  margin: 0;
  font-size: 1.25rem;
}
.office-91-821-4257452-mobile-container1 {
  position: absolute;
  top: 109.25rem;
  left: 64rem;
  letter-spacing: 0.02em;
  line-height: 2.81rem;
  color: var(--color-white);
  display: inline-block;
  width: 25.5rem;
  height: 11.56rem;
  font-size: var(--font-size-6xl);
}
.logomakr-7frfbm-1-icon,
.logomakr-7frfbm-2-icon,
.logomakr-7frfbm-icon,
.logomakr-7n6ad6-icon {
  position: absolute;
  top: 109.63rem;
  left: 94.69rem;
  width: 4.63rem;
  height: 4.63rem;
  object-fit: cover;
}
.logomakr-7frfbm-1-icon,
.logomakr-7frfbm-2-icon,
.logomakr-7n6ad6-icon {
  left: 103.81rem;
}
.logomakr-7frfbm-2-icon,
.logomakr-7n6ad6-icon {
  top: 117.06rem;
  left: 94.69rem;
}
.logomakr-7n6ad6-icon {
  left: 103.81rem;
}
.all-rights-reserved-container {
  position: absolute;
  top: 125.38rem;
  left: 64rem;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.02em;
  line-height: 2.81rem;
  color: var(--color-white);
  display: inline-block;
  width: 40.44rem;
  height: 6.25rem;
}
.image-1-icon {
  position: absolute;
  top: 104.56rem;
  left: 5.81rem;
  width: 29.06rem;
  height: 28.63rem;
  object-fit: cover;
}
.office-container {
  position: absolute;
  top: 28rem;
  left: 64.19rem;
  font-size: 1.88rem;
  letter-spacing: 0.02em;
  line-height: 1.5rem;
  white-space: pre-wrap;
  display: inline-block;
  width: 50.5rem;
  height: 25.5rem;
}
.image-3-icon {
  position: absolute;
  top: 60.13rem;
  left: 64.19rem;
  width: 29.06rem;
  height: 28.63rem;
  object-fit: cover;
}
.connect1 {
  position: absolute;
  top: 0;
  left: 0.31rem;
  letter-spacing: 0.05em;
  line-height: 5rem;
}
.logomakr-7frfbm-1-icon1,
.logomakr-7frfbm-icon1 {
  position: absolute;
  top: 5.31rem;
  width: 4.63rem;
  height: 4.63rem;
  object-fit: cover;
}
.logomakr-7frfbm-icon1 {
  left: 0;
}
.logomakr-7frfbm-1-icon1 {
  left: 9.13rem;
}
.logomakr-7frfbm-2-icon1,
.logomakr-7n6ad6-icon1 {
  position: absolute;
  top: 12.75rem;
  width: 4.63rem;
  height: 4.63rem;
  object-fit: cover;
}
.logomakr-7frfbm-2-icon1 {
  left: 0;
}
.logomakr-7n6ad6-icon1 {
  left: 9.13rem;
}
.connect-parent {
  position: absolute;
  top: 65.19rem;
  left: 97rem;
  width: 13.75rem;
  height: 17.38rem;
}
.web-1920-7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 137.63rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-abhaya-libre);
}
