a, a:visited, a:hover, a:active {
  color: inherit;
  border: inherit;
  
}
.icon,
.icon1 {
  position: absolute;
  object-fit: cover;
}
.icon {
  top: 73.75rem;
  left: 0;
  width: 113.91rem;
  height: 113.91rem;
  opacity: 0.75;
}
.icon1 {
  top: 14.31rem;
  left: 0.06rem;
  width: 119.88rem;
  height: 61.63rem;
}
.phoenix-international-academy-container {
  position: absolute;
  top: 321.31rem;
  left: 5rem;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.03em;
  line-height: 2rem;
  white-space: pre-wrap;
  display: inline-block;
  width: 300rem;
  height: auto;
  margin: 0%;
}
p.phoenix-international-academy{
  display: contents;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}
.phoenix-international-academy {
  line-height: 1.2rem;
  /* Adjust the line-height value to control paragraph spacing */
  margin: 0;
  /* Set margin to 0 to eliminate extra spacing */
}
.why-choose-phoenix {
  position: absolute;
  top: 320rem;
  left: 7.69rem;
  letter-spacing: 0.05em;
  line-height: 2rem;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f26929;
  border: 1px solid #707070;
  box-sizing: border-box;
  width: 120rem;
  height: 35.63rem;
}
.connect,
.contact,
.quick-links {
  position: absolute;
  top: 2.75rem;
  left: 95rem;
  letter-spacing: 0.05em;
  line-height: 5rem;
}
.contact,
.quick-links {
  left: 64rem;
}
.quick-links {
  left: 38.31rem;
}
.about-phoenix-admissions-paren {
  position: absolute;
  top: 7.69rem;
  left: 38.31rem;
  font-size: 2.81rem;
  letter-spacing: 0.02em;
  line-height: 3.75rem;
  color: var(--color-white);
}
.email-centreheadmyphoenixaca {
  margin: 0;
  font-size: 1.25rem;
}
.office-91-821-4257452-mobile-container {
  position: absolute;
  top: 7.69rem;
  left: 64rem;
  letter-spacing: 0.02em;
  line-height: 2.81rem;
  color: var(--color-white);
  display: inline-block;
  width: 25.5rem;
  height: 11.56rem;
  font-size: var(--font-size-6xl);
}
.logomakr-7frfbm-1-icon,
.logomakr-7frfbm-2-icon,
.logomakr-7frfbm-icon,
.logomakr-7n6ad6-icon {
  position: absolute;
  top: 8.06rem;
  left: 94.69rem;
  width: 4.63rem;
  height: 4.63rem;
  object-fit: cover;
}
.logomakr-7frfbm-1-icon,
.logomakr-7frfbm-2-icon,
.logomakr-7n6ad6-icon {
  left: 103.81rem;
}
.logomakr-7frfbm-2-icon,
.logomakr-7n6ad6-icon {
  top: 15.5rem;
  left: 94.69rem;
}
.logomakr-7n6ad6-icon {
  left: 103.81rem;
}
.all-rights-reserved-container {
  position: absolute;
  top: 23.81rem;
  left: 64rem;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.02em;
  line-height: 2.81rem;
  color: var(--color-white);
  display: inline-block;
  width: 40.44rem;
  height: 6.25rem;
}
.image-1-icon {
  position: absolute;
  top: 3rem;
  left: 5.81rem;
  width: 29.06rem;
  height: 28.63rem;
  object-fit: cover;
}
.rectangle-parent {
  position: absolute;
  top: 527.94rem;
  left: 0;
  width: 120rem;
  height: 35.63rem;
  font-size: var(--font-size-21xl);
}
.web-1920-2-child {
  position: absolute;
  top: 68.89rem;
  left: 60.13rem;
  width: 6.19rem;
  height: 1.92rem;
}
.a-distinctive-ethos-container,
.div,
.phoenix-international-academy1 {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 3.13rem;
  display: inline-block;
}
.phoenix-international-academy1 {
  top: 86.94rem;
  left: 8.44rem;
  font-size: var(--font-size-21xl);
  text-align: center;
  width: 104.63rem;
  height: 12.56rem;
  -webkit-text-stroke: 1px #707070;
}
.a-distinctive-ethos-container,
.div {
  top: 0;
}
.a-distinctive-ethos-container {
  left: 3.59rem;
  width: 104.22rem;
  height: 50.44rem;
}
.div {
  left: 0;
  color: #f68a1f;
  width: 2.07rem;
  height: 49.32rem;
}
.a-distinctive-ethos-which-is-c-parent {
  position: absolute;
  top: 101.25rem;
  left: 8.5rem;
  width: 107.81rem;
  height: 50.44rem;
  font-size: var(--font-size-21xl);
  line-height: 2rem;
}
p.phoenix-international-academy7 {
  display: block;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}
.aims-vision {
  position: absolute;
  top: 80.25rem;
  left: 46.63rem;
  letter-spacing: 0.05em;
  line-height: 5rem;
}
.web-1920-2-item {
  position: absolute;
  top: 160.44rem;
  left: 0.13rem;
  background-color: #cfcfcf;
  width: 120rem;
  height: 36.56rem;
}
.polygon-icon,
.web-1920-2-inner {
  position: absolute;
  top: 161.88rem;
  left: 27.66rem;
  width: 18.31rem;
  height: 15.81rem;
}
.polygon-icon {
  top: 178.75rem;
  left: 4.41rem;
}
.web-1920-2-child1,
.web-1920-2-child2 {
  position: absolute;
  top: 177rem;
  left: 6.71rem;
  width: 5rem;
  height: 4.31rem;
}
.web-1920-2-child2 {
  top: 162.75rem;
  left: 14.02rem;
}
.founders-message {
  position: absolute;
  top: 162.88rem;
  left: 48.94rem;
  letter-spacing: 0.05em;
  line-height: 5rem;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 171.13rem;
  left: 48.81rem;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.03em;
  line-height: 3.13rem;
  display: inline-block;
  width: 65rem;
  height: 12.63rem;
}
.ellipse-div {
  position: absolute;
  top: 164.88rem;
  left: 8.5rem;
  border-radius: 50%;
  border: 10px solid #085a5d;
  box-sizing: border-box;
  width: 27.75rem;
  height: 27.75rem;
}
.phoenix-international-academy-container1 {
  position: absolute;
  top: 214.31rem;
  left: 7.81rem;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.03em;
  line-height: 3.13rem;
  display: inline-block;
  width: 104.63rem;
  height: 30.06rem;
}
.school {
  position: absolute;
  top: 205.56rem;
  left: 7.81rem;
  letter-spacing: 0.05em;
  line-height: 5rem;
}
.info-2-01-icon {
  position: absolute;
  top: 244.63rem;
  left: 0;
  width: 120rem;
  height: 67.5rem;
  object-fit: cover;
}
.affiliationaccreditations {
  position: absolute;
  top: 408.44rem;
  left: 9rem;
  letter-spacing: 0.05em;
  line-height: 5rem;
  text-transform: uppercase;
}
.about-edexcel-edexcel-educati-container {
  position: absolute;
  top: 436.56rem;
  left: 7.69rem;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.03em;
  line-height: 3.13rem;
  display: inline-block;
  width: 104.63rem;
  height: 50rem;
}
.edexcel-logo-icon {
  position: absolute;
  top: 419.38rem;
  left: 33.06rem;
  width: 53.94rem;
  height: 10rem;
  object-fit: cover;
}
.a-icon,
.a-icon1,
.doc-20221217-wa0012-pages-to-icon {
  position: absolute;
  top: 0;
  border-radius: var(--br-3xl);
  height: 28.69rem;
  object-fit: cover;
}
.doc-20221217-wa0012-pages-to-icon {
  left: 0;
  width: 20.41rem;
}
.a-icon,
.a-icon1 {
  left: 21.25rem;
  width: 40.41rem;
}
.a-icon1 {
  left: 62.69rem;
}
.doc-20221217-wa0012-pages-to-parent,
.group-div {
  position: absolute;
  width: 102.91rem;
  height: 28.31rem;
}
.doc-20221217-wa0012-pages-to-parent {
  top: 0;
  left: 0;
}
.group-div {
  top: 492.19rem;
  left: 8.56rem;
}
.web-1920-2-child3 {
  position: absolute;
  top: 511.94rem;
  left: 124.38rem;
  width: 7.56rem;
  height: 1.81rem;
}
.web-1920-2-child4 {
  position: absolute;
  top: 497.32rem;
  left: 10.81rem;
  width: 1.36rem;
  height: 6.55rem;
}
.group-item {
  position: absolute;
  top: 9.86rem;
  left: 0;
  background-color: #929292;
  width: 120rem;
  height: 4.81rem;
}
.phoenix {
  position: absolute;
  top: 0;
  left: 17.38rem;
  font-size: var(--font-size-56xl);
  letter-spacing: 0.35em;
  color: var(--color-olivedrab);
}
.pia-logo-2022-1 {
  position: absolute;
  top: 1.24rem;
  left: 1.88rem;
  width: 14.38rem;
  height: 8rem;
  object-fit: cover;
}
.home {
  left: 39.88rem;
  cursor: pointer;
}
.about-phoenix1,
.academics,
.home {
  position: absolute;
  top: 10.86rem;
}
.about-phoenix1 {
  left: 46.19rem;
  color: var(--color-white);
}
.academics {
  left: 60.31rem;
  cursor: pointer;
}
.beyond-books,
.contact-us,
.gallery,
.life-at-phoenix {
  position: absolute;
  top: 10.86rem;
  left: 84.81rem;
  cursor: pointer;
}
.beyond-books,
.contact-us,
.gallery {
  left: 70.94rem;
}
.contact-us,
.gallery {
  left: 99rem;
}
.contact-us {
  left: 107.44rem;
}
.mysurus-leading-international-container {
  position: absolute;
  top: 7.81rem;
  left: 17.44rem;
  font-size: 1.19rem;
  letter-spacing: 0.05em;
  font-family: var(--font-abhaya-libre);
}
.international-academy {
  position: absolute;
  top: 4.92rem;
  left: 17.38rem;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.05em;
  color: var(--color-olivedrab);
}
.logomakr1-icon {
  position: absolute;
  top: 1.42rem;
  left: 93.44rem;
  border-radius: 31px;
  width: 3.88rem;
  height: 3.88rem;
  object-fit: cover;
}
.office-91-821-4257452-mobile-container1 {
  position: absolute;
  top: 1.3rem;
  left: 97.88rem;
  letter-spacing: 0.02em;
  line-height: 2.19rem;
  font-family: var(--font-abhaya-libre);
  color: #404040;
  display: inline-block;
  width: 19.13rem;
  height: 4.88rem;
}
.sapient-global-educational {
  position: absolute;
  top: 11.75rem;
  left: 3.31rem;
  font-size: 0.88rem;
  letter-spacing: 0.2em;
  color: #f9f9f9;
}
.group-inner {
  position: absolute;
  top: 12.74rem;
  left: 46rem;
  border-top: 7px solid var(--color-olivedrab);
  box-sizing: border-box;
  width: 13rem;
  height: 0.44rem;
}
.rectangle-group {
  position: absolute;
  top: -0.36rem;
  left: -0.06rem;
  width: 120rem;
  height: 14.67rem;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
}
.dsc-0006-icon {
  position: absolute;
  top: 165.31rem;
  left: 8.94rem;
  width: 26.88rem;
  height: 26.88rem;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 187rem;
  left: 23.63rem;
  border-radius: 25px;
  background-color: #faeee6;
  width: 32.19rem;
  height: 5.94rem;
  opacity: 0.85;
}
.centerhead-founder,
.tejaswini-alvar,
.what-i-like {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 3.13rem;
}
.tejaswini-alvar {
  top: 187.63rem;
  left: 29.81rem;
  font-size: var(--font-size-56xl);
}
.centerhead-founder,
.what-i-like {
  display: inline-block;
}
.centerhead-founder {
  top: 189.81rem;
  left: 26.63rem;
  font-size: 1.5rem;
  text-decoration: underline;
  color: #921a1a;
  width: 26.19rem;
  height: 2rem;
  -webkit-text-stroke: 0.5px #921a1a;
}
.what-i-like {
  top: 401.56rem;
  left: -109.5rem;
  font-size: var(--font-size-56xl);
  text-align: center;
  width: 92.69rem;
  height: 30.19rem;
}
.web-1920-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 563.81rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
  font-family: var(--font-abhaya-libre);
}
