a, a:visited, a:hover, a:active {
  color: inherit;
  border: inherit;
  
}
.dsc-0068c-icon,
.info-icon {
  position: absolute;
  top: 243px;
  left: 1px;
  width: 1919px;
  height: 963px;
  object-fit: cover;
}
.info-icon {
  top: 1304px;
  left: 227px;
  width: 1465px;
  height: 449px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1920px;
  height: 1243px;
}
.international-gcse {
  position: absolute;
  top: 24px;
  left: 659px;
  font-size: var(--font-size-36xl);
  letter-spacing: 0.05em;
  line-height: 80px;
}
.edexcel-international-gcses {
  position: absolute;
  top: 119px;
  left: 114px;
  letter-spacing: 0.03em;
  line-height: 50px;
  display: inline-block;
  width: 1730.18px;
  height: 163px;
}
.the-igcse-professes {
  margin: 0;
}
.the-igcse-professes-container {
  position: absolute;
  top: 318px;
  left: 94px;
  letter-spacing: 0.03em;
  line-height: 50px;
  display: inline-block;
  width: 1750px;
  height: 862px;
}
.group-item {
  position: absolute;
  top: 122px;
  left: 72px;
  background-color: #5e5e60;
  width: 19px;
  height: 146px;
}
.rectangle-parent {
  position: absolute;
  top: 5599px;
  left: -3px;
  width: 1920px;
  height: 1243px;
  font-size: var(--font-size-21xl);
}
.international-advanced-level {
  position: absolute;
  top: 0;
  left: 419px;
  letter-spacing: 0.05em;
  line-height: 80px;
}
.a-level-of,
.edexcel-international-asa {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 50px;
  display: inline-block;
}
.edexcel-international-asa {
  top: 95px;
  left: 47px;
  font-size: var(--font-size-21xl);
  width: 1730.18px;
  height: 202px;
}
.a-level-of {
  top: 347px;
  left: 35px;
  font-size: 42px;
  width: 1724px;
  height: 163px;
}
.group-inner {
  position: absolute;
  top: 99px;
  left: 16px;
  background-color: #0091ff;
  width: 19px;
  height: 207px;
}
.group-6a-icon,
.group-7a-icon,
.group-8a-icon {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: var(--br-31xl);
  width: 567px;
  height: 345.5px;
  object-fit: cover;
}
.group-6a-icon,
.group-7a-icon {
  top: 1px;
  left: 600px;
  width: 574px;
  height: 349.5px;
}
.group-7a-icon {
  top: 0;
  left: 1207px;
  width: 576px;
  height: 351px;
}
.group-8a-parent {
  position: absolute;
  top: 560px;
  left: 0;
  width: 1783px;
  height: 351px;
}
.international-advanced-level-parent,
.rectangle-div {
  position: absolute;
  top: 6890px;
  left: 66px;
  width: 1783px;
  height: 911px;
}
.rectangle-div {
  top: 0;
  left: 0;
  background-color: #f26929;
  border: 1px solid #707070;
  box-sizing: border-box;
  width: 1920px;
  height: 570px;
}
.connect,
.contact,
.quick-links {
  position: absolute;
  top: 44px;
  left: 1520px;
  letter-spacing: 0.05em;
  line-height: 80px;
}
.contact,
.quick-links {
  left: 1024px;
}
.quick-links {
  left: 613px;
}
.about-phoenix-admissions-paren {
  position: absolute;
  top: 129px;
  left: 613px;
  font-size: 45px;
  letter-spacing: 0.02em;
  line-height: 60px;
  color: var(--color-white);
}
.email-centreheadmyphoenixaca {
  margin: 0;
  font-size: 20px;
}
.office-91-821-4257452-mobile-container {
  position: absolute;
  top: 123px;
  left: 1024px;
  letter-spacing: 0.02em;
  line-height: 45px;
  color: var(--color-white);
  display: inline-block;
  width: 408px;
  height: 185px;
  font-size: var(--font-size-6xl);
}
.logomakr-7frfbm-icon {
  position: absolute;
  top: 129px;
  left: 1515px;
  width: 74px;
  height: 74px;
  object-fit: cover;
}
.logomakr-7frfbm-1-icon,
.logomakr-7frfbm-2-icon,
.logomakr-7n6ad6-icon {
  position: absolute;
  top: 129px;
  left: 1661px;
  width: 74px;
  height: 74px;
  object-fit: cover;
}
.logomakr-7frfbm-2-icon,
.logomakr-7n6ad6-icon {
  top: 248px;
  left: 1515px;
}
.logomakr-7n6ad6-icon {
  left: 1661px;
}
.all-rights-reserved-container {
  position: absolute;
  top: 381px;
  left: 1024px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.02em;
  line-height: 45px;
  color: var(--color-white);
  display: inline-block;
  width: 647px;
  height: 100px;
}
.image-1-icon {
  position: absolute;
  top: 48px;
  left: 93px;
  width: 465px;
  height: 458px;
  object-fit: cover;
}
.rectangle-group {
  position: absolute;
  top: 7881px;
  left: -3px;
  width: 1920px;
  height: 570px;
  font-size: var(--font-size-21xl);
}
.web-1920-3-child {
  position: absolute;
  top: 1148.22px;
  left: 912px;
  width: 99px;
  height: 30.78px;
}
.pomogranates {
  position: absolute;
  top: 0;
  left: 642px;
  letter-spacing: 0.05em;
  line-height: 80px;
}
.group-child1 {
  position: absolute;
  top: 101px;
  left: 25px;
  background-color: #f68a1f;
  width: 19px;
  height: 289px;
}
.a-play-school,
.how-our-day-container {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 50px;
  display: inline-block;
}
.a-play-school {
  top: 112px;
  left: 65px;
  font-size: var(--font-size-16xl);
  width: 1661px;
  height: 308px;
}
.how-our-day-container {
  top: 440px;
  left: 25px;
  font-size: 36px;
  white-space: pre-wrap;
  width: 1705px;
  height: 469px;
}
.dsc-0095a-icon,
.dsc-0156a-icon,
.dsc-1009b-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 578.38px;
  height: 351.98px;
  object-fit: cover;
}
.dsc-0156a-icon,
.dsc-1009b-icon {
  left: 594.9px;
}
.dsc-1009b-icon {
  left: 1189.8px;
}
.dsc-0095a-parent {
  position: absolute;
  top: 959px;
  left: 0;
  width: 1768.18px;
  height: 351.98px;
}
.group-child2,
.pomogranates-parent {
  position: absolute;
  top: 1896px;
  left: 111px;
  width: 1768.18px;
  height: 1310.98px;
}
.group-child2 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1920px;
  height: 1058px;
}
.primary {
  position: absolute;
  top: 24px;
  left: 862px;
  font-size: var(--font-size-36xl);
  letter-spacing: 0.05em;
  line-height: 80px;
}
.group-child3 {
  position: absolute;
  top: 128px;
  left: 76px;
  background-color: #1ba3c3;
  width: 19px;
  height: 237px;
}
.pia-aims-at,
.pia-provides-concept {
  position: absolute;
  top: 119px;
  left: 114px;
  letter-spacing: 0.03em;
  line-height: 50px;
  display: inline-block;
  width: 1730.18px;
  height: 266px;
}
.pia-provides-concept {
  top: 411px;
  width: 1730px;
  height: 188px;
}
.dsc-0059-icon,
.img-20220909-wa0037a-icon {
  position: absolute;
  width: 578.92px;
  height: 352.31px;
  object-fit: cover;
}
.dsc-0059-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
}
.img-20220909-wa0037a-icon {
  top: 8px;
  left: 590.46px;
  border-radius: 30px;
}
.pra-3879a-icon {
  position: absolute;
  top: 8.27px;
  left: 1190.92px;
  border-radius: var(--br-31xl);
  width: 577.26px;
  height: 352.01px;
  object-fit: cover;
}
.dsc-0059-parent {
  position: absolute;
  top: 645px;
  left: 91px;
  width: 1768.18px;
  height: 360.31px;
}
.rectangle-container {
  position: absolute;
  top: 3345px;
  left: -3px;
  width: 1920px;
  height: 1058px;
  font-size: var(--font-size-29xl);
}
.lower-secondary {
  position: absolute;
  top: 0;
  left: 615px;
  letter-spacing: 0.05em;
  line-height: 80px;
}
.group-child4 {
  position: absolute;
  top: 108px;
  left: 19px;
  background-color: #ed1963;
  width: 19px;
  height: 297px;
}
.pia-lower-secondary,
.teachers-at-pia-container {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 50px;
  display: inline-block;
  width: 1687px;
}
.pia-lower-secondary {
  top: 104px;
  left: 54px;
  font-size: 46px;
  height: 297px;
}
.teachers-at-pia-container {
  top: 432px;
  left: 47px;
  font-size: var(--font-size-29xl);
  height: 270px;
}
.dsc-0994-icon,
.whatsapp-image-2022-12-27-at-1,
.whatsapp-image-2022-12-27-at-11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-26xl);
  width: 568.03px;
  height: 345.69px;
  object-fit: cover;
}
.dsc-0994-icon,
.whatsapp-image-2022-12-27-at-11 {
  left: 1207.48px;
  height: 346.13px;
}
.dsc-0994-icon {
  left: 599.74px;
  height: 345.69px;
}
.whatsapp-image-2022-12-27-at-1-parent {
  position: absolute;
  top: 732px;
  left: 0;
  width: 1775.51px;
  height: 346.12px;
}
.group-child5,
.lower-secondary-parent {
  position: absolute;
  top: 4457px;
  left: 69px;
  width: 1775.51px;
  height: 1078.12px;
}
.group-child5 {
  top: 157.77px;
  left: 0;
  background-color: #929292;
  width: 1920px;
  height: 77px;
}
.phoenix {
  position: absolute;
  top: 0;
  left: 278px;
  font-size: 75px;
  letter-spacing: 0.35em;
  color: var(--color-olivedrab);
}
.pia-logo-2022-1 {
  position: absolute;
  top: 19.77px;
  left: 30px;
  width: 230px;
  height: 128px;
  object-fit: cover;
}
.home {
  left: 638px;
  cursor: pointer;
}
.about-phoenix1,
.academics,
.home {
  position: absolute;
  top: 173.77px;
}
.about-phoenix1 {
  left: 739px;
  cursor: pointer;
}
.academics {
  left: 965px;
  color: var(--color-white);
}
.beyond-books,
.life-at-phoenix {
  position: absolute;
  top: 173.77px;
  left: 1357px;
  cursor: pointer;
}
.beyond-books {
  left: 1135px;
}
.contact-us,
.gallery {
  position: absolute;
  top: 173.77px;
  left: 1584px;
}
.contact-us {
  left: 1719px;
  cursor: pointer;
}
.mysurus-leading-international-container {
  position: absolute;
  top: 125.03px;
  left: 279px;
  font-size: 19px;
  letter-spacing: 0.05em;
  font-family: var(--font-abhaya-libre);
}
.international-academy {
  position: absolute;
  top: 78.69px;
  left: 278px;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.05em;
  color: var(--color-olivedrab);
}
.logomakr1-icon {
  position: absolute;
  top: 22.77px;
  left: 1495px;
  border-radius: 31px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.office-91-821-4257452-mobile-container1 {
  position: absolute;
  top: 20.77px;
  left: 1566px;
  letter-spacing: 0.02em;
  line-height: 35px;
  font-family: var(--font-abhaya-libre);
  color: #404040;
  display: inline-block;
  width: 306px;
  height: 78px;
}
.sapient-global-educational {
  position: absolute;
  top: 188.03px;
  left: 53px;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #f9f9f9;
}
.line-div {
  position: absolute;
  top: 203.77px;
  left: 962px;
  border-top: 7px solid var(--color-olivedrab);
  box-sizing: border-box;
  width: 152px;
  height: 7px;
}
.group-div {
  position: absolute;
  top: 12.23px;
  left: 0;
  width: 1920px;
  height: 234.77px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
}
.web-1920-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 8415px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-36xl);
  color: var(--color-black);
  font-family: var(--font-abhaya-libre);
}
